.Rproj.user
*.o
*.so
\#*
*~
src-i386
src-x86_64
*.Rhistory
*.DS_Store
symbols.rds
*.dll
*.est
*.pred
*.RData
*.rdb
*.rdx
*.aux
*.bbl
*.blg
*.log
*.idx
*.lof
*.lot
*.toc
*.rel
Rplots.pdf
*.est
*.pred
*.synctex.gz
*.png
